body {
    max-height: 600px;
    background: black;
    font-family: 'Manrope';
    overflow: hidden;
}


.box{
    display:flex;
}

#time {
    color: white;
    align-content: center;
    justify-content: center;
    max-height: 185px;
    font-style: normal;
    font-weight: 600;
    font-size: 145px;
    line-height: 199px;
}

#day {
    color: white;
    font-size: 45px;
    align-content: center;
    justify-content: center;
}

#weather {
    color: white;
    font-size: 70px;
    align-content: center;
    justify-content: center;
    font-weight: bold;

}

#humidity {
    color: white;
    font-size: 25px;
    align-content: center;
    justify-content: center;
}
#wind {
    color: white;
    font-size: 25px;
    align-content: center;
    justify-content: center;
    white-space: pre;
}
#pressure {
    color: white;
    font-size: 25px;
    align-content: center;
    justify-content: center;
}
#night {
    color: white;
    font-size: 40px;
    align-content: center;
    justify-content: center;
}
#day1 {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
}
#day2 {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
}

.grid-container {
}

.top {
    max-height: 300px;
    height: 300px;

}

.bottom {
    max-height: 260px;
    height: 260px;
}

.bottom-right {
    width: 50%;
}

.bottom-left {
    width: 50%;
}

.top-left {
    width: 50%;
    background-repeat: no-repeat;
}

.top-right {
    width: 50%;
}

#weatherIcon {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: auto;

}
.weatherIcon{
    width: 100%;
    position: absolute;
}
.dailyIcon{
    width: 90px;
}

.partly-cloudy-day {
    background-image: url("icons/partly-cloudy-day.png");
}

.partly-cloudy-night {
    background-image: url("icons/partly-cloudy-night.png");
}

.clear-day {
    background-image: url("icons/clear-day.png");
}

.clear-night {
    background-image: url("icons/clear-night.png");
}

.cloudy {
    background-image: url("icons/cloudy.png");
}

.fog {
    background-image: url("icons/fog.png");
}

.hail {
    background-image: url("icons/hail.png");
}

.rain-snow-showers-day {
    background-image: url("icons/rain-snow-showers-day.png");
}

.rain-snow-showers-night {
    background-image: url("icons/rain-snow-showers-night.png");
}

.rain-snow {
    background-image: url("icons/rain-snow.png");
}

.rain {
    background-image: url("icons/rain.png");
}

.showers-day {
    background-image: url("icons/showers-day.png");
}

.showers-night {
    background-image: url("icons/showers-night.png");
}

.sleet {
    background-image: url("icons/sleet.png");
}

.snow-showers-day {
    background-image: url("icons/snow-showers-day.png");
}

.snow-showers-night {
    background-image: url("icons/snow-showers-night.png");
}

.snow {
    background-image: url("icons/snow.png");
}

.thunder-rain {
    background-image: url("icons/thunder-rain.png");
}

.thunder-showers-day {
    background-image: url("icons/thunder-showers-day.png");
}

.thunder-showers-night {
    background-image: url("icons/thunder-showers-night.png");
}

.thunder {
    background-image: url("icons/thunder.png");
}

.wind {
    background-image: url("icons/wind.png");
}

.nextDayBorder {
    margin-top: 100px;
    width: 276px;
    height: 217px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

.nextDayHeader{
    width:100%;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}
.dailyTemperature{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
}
.detailIcon{
    width:25px
}

.nextWeatherData {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 26px;
    width: 157px;
    height: 216px;
    margin-top: 100px;
}