body{
    max-height: 600px;
    background: black;
    font-family: 'Manrope';

}
#time{
 color: white;
    font-size: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
    max-height: 30px;
}
#day{
 color: white;
    font-size: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
}

#weather{
 color: white;
    font-size: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
}