body {
    max-height: 600px;
    background: black;
    font-family: 'Manrope';
    overflow: hidden;

}

#time {
    color: white;
    font-size: 130px;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    display: flex;
    max-height: 30px;
    position: relative;
    left: -15px;
    top: -80px;
}

#day {
    color: white;
    font-size: 60px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: 0px;
    top: -87px;
}

#weather {
    color: white;
    font-size: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: -87px;

}

#humidity {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: -40px;
    top: -87px;
}
#wind {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: -19px;
    top: -87px;
}
#pressure {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: -19px;
    top: -87px;
}
#night {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: -19px;
    top: -87px;
}
#day1 {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: -19px;
    top: -87px;
}
#day2 {
    color: white;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: -19px;
    top: -87px;
}

.grid-container {
}

.top {
    display: flex;
    max-height: 300px;
    height: 300px;

}

.bottom {
    max-height: 260px;
    height: 260px;
    display: flex;

}

.bottom-right {
    width: 50%;
}

.bottom-left {
    width: 50%;
}

.top-left {
    width: 50%;
    background-repeat: no-repeat;
}

.top-right {
    width: 50%;
}

#weatherIcon {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.dailyIcon{
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}

.sunny {
    background-image: url("clear-day.png");
}

.partly-cloudy-day {
    background-image: url("icons/partly-cloudy-day.png");
}

.partly-cloudy-night {
    background-image: url("icons/partly-cloudy-night.png");
}

.clear-day {
    background-image: url("icons/clear-day.png");
}

.clear-night {
    background-image: url("icons/clear-night.png");
}

.cloudy {
    background-image: url("icons/cloudy.png");
}

.fog {
    background-image: url("icons/fog.png");
}

.hail {
    background-image: url("icons/hail.png");
}

.rain-snow-showers-day {
    background-image: url("icons/rain-snow-showers-day.png");
}

.rain-snow-showers-night {
    background-image: url("icons/rain-snow-showers-night.png");
}

.rain-snow {
    background-image: url("icons/rain-snow.png");
}

.rain {
    background-image: url("icons/rain.png");
}

.showers-day {
    background-image: url("icons/showers-day.png");
}

.showers-night {
    background-image: url("icons/showers-night.png");
}

.sleet {
    background-image: url("icons/sleet.png");
}

.snow-showers-day {
    background-image: url("icons/snow-showers-day.png");
}

.snow-showers-night {
    background-image: url("icons/snow-showers-night.png");
}

.snow {
    background-image: url("icons/snow.png");
}

.thunder-rain {
    background-image: url("icons/thunder-rain.png");
}

.thunder-showers-day {
    background-image: url("icons/thunder-showers-day.png");
}

.thunder-showers-night {
    background-image: url("icons/thunder-showers-night.png");
}

.thunder {
    background-image: url("icons/thunder.png");
}

.wind {
    background-image: url("icons/wind.png");
}