<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Raspberry Pi Clock</title>
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mainpage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="{{ url_for('static',filename='js/weather.js') }}"></script>
    <script>

    </script>
</head>
<body>

<div class="grid-container">
    <div class="row top">
        <div class="top-left">
            <div id="weatherIcon"></div>
        </div>
        <div class="top-right">
            <div class="time">
                <div class="row">
                    <p id="time"></p>
                </div>
                <div class="row">
                    <div id="day"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <div class="bottom-right">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div id="weather"></div>
                    </div>
                    <div class="row">
                        <div id="humidity"></div>
                    </div>
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="bottom-left">
        </div>
    </div>
</div>
</body>
</html>

