<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Raspberry Pi Clock</title>
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mainpage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/time.js') }}"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="{{ url_for('static',filename='js/weather.js') }}"></script>
    <script>

    </script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="weatherIcon"></div>
        </div>
        <div class="col">
            <div class="row">
                <div id="time"></div>
            </div>
            <div class="row">
                <div id="day"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="row">
              <div id="weather"></div>
          </div>
          <div class="row">
              <div id="humidity"></div>
          </div>
          <div class="row">
              <div id="wind"></div>
          </div>
          <div class="row">
              <div id="pressure"></div>
          </div>
        </div>
        <div class="col">
           <div id="night"></div>
        </div>
        <div class="col">
                <p id="day1"></p>
        </div>
        <div class="col">
            <p id="day2"></p>
        </div>
    </div>
</div>
</body>
</html>

